<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951776295992-i75lbekgjsktuteu11e7d80rufsj2gvl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951776295992-i75lbekgjsktuteu11e7d80rufsj2gvl</string>
	<key>API_KEY</key>
	<string>AIzaSyAuUXlaHeGuoaUDa-8AP9BKVo_t94-qnqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>951776295992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-2aacd</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-2aacd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951776295992:ios:95653c390235edc752bacd</string>
</dict>
</plist>